<a href="https://colab.research.google.com/github/batuhanbyzt/Global_ai_2/blob/main/mching_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [219]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
#!pip install missingno
import missingno as msno
from datetime import date
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import LocalOutlierFactor
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler, RobustScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [220]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)

In [221]:
df=pd.read_csv("/content/insurance.csv")

In [222]:
df.head()

   age     sex    bmi  children smoker     region   charges
0   19  female 27.900         0    yes  southwest 16884.924
1   18    male 33.770         1     no  southeast  1725.552
2   28    male 33.000         3     no  southeast  4449.462
3   33    male 22.705         0     no  northwest 21984.471
4   32    male 28.880         0     no  northwest  3866.855

In [223]:
df.shape

(1338, 7)

In [224]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [225]:
df.describe().T

            count      mean       std      min      25%      50%       75%       max
age      1338.000    39.207    14.050   18.000   27.000   39.000    51.000    64.000
bmi      1338.000    30.663     6.098   15.960   26.296   30.400    34.694    53.130
children 1338.000     1.095     1.205    0.000    0.000    1.000     2.000     5.000
charges  1338.000 13270.422 12110.011 1121.874 4740.287 9382.033 16639.913 63770.428

In [226]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [227]:
df["sex"].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [228]:
df["age"].value_counts()

18    69
19    68
50    29
51    29
47    29
46    29
45    29
20    29
48    29
52    29
22    28
49    28
54    28
53    28
21    28
26    28
24    28
25    28
28    28
27    28
23    28
43    27
29    27
30    27
41    27
42    27
44    27
31    27
40    27
32    26
33    26
56    26
34    26
55    26
57    26
37    25
59    25
58    25
36    25
38    25
35    25
39    25
61    23
60    23
63    23
62    23
64    22
Name: age, dtype: int64

In [229]:
df["smoker"].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [230]:
df["region"].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [231]:
df = pd.get_dummies(df, columns=["sex"], prefix=["sex"])

In [232]:
df = pd.get_dummies(df, columns=["smoker","region"])

In [233]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   bmi               1338 non-null   float64
 2   children          1338 non-null   int64
 3   charges           1338 non-null   float64
 4   sex_female        1338 non-null   uint8
 5   sex_male          1338 non-null   uint8
 6   smoker_no         1338 non-null   uint8
 7   smoker_yes        1338 non-null   uint8
 8   region_northeast  1338 non-null   uint8
 9   region_northwest  1338 non-null   uint8
 10  region_southeast  1338 non-null   uint8
 11  region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(2), uint8(8)
memory usage: 52.4 KB

In [234]:
df["sex_female"] = df["sex_female"].astype(int)

In [235]:
df["sex_male"] = df["sex_male"].astype(int)

In [236]:
df["smoker_no"] = df["smoker_no"].astype(int)

In [237]:
df["smoker_yes"] = df["smoker_yes"].astype(int)

In [238]:
df["region_northeast"] = df["region_northeast"].astype(int)

In [239]:
df["region_northwest"] = df["region_northwest"].astype(int)

In [240]:
df["region_southeast"] = df["region_southeast"].astype(int)

In [241]:
df["region_southwest"] = df["region_southwest"].astype(int)

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   bmi               1338 non-null   float64
 2   children          1338 non-null   int64
 3   charges           1338 non-null   float64
 4   sex_female        1338 non-null   int64
 5   sex_male          1338 non-null   int64
 6   smoker_no         1338 non-null   int64
 7   smoker_yes        1338 non-null   int64
 8   region_northeast  1338 non-null   int64
 9   region_northwest  1338 non-null   int64
 10  region_southeast  1338 non-null   int64
 11  region_southwest  1338 non-null   int64
dtypes: float64(2), int64(10)
memory usage: 125.6 KB

In [243]:
df_train_x= df.drop(['charges'],axis=1)
df_train_y= df['charges']

In [244]:
X_train, X_test, y_train, y_test = train_test_split(df_train_x, df_train_y, test_size=0.2, random_state=42)

# Logistic Regresyon modeli oluşturalım
logreg = LogisticRegression()

# Modeli eğitelim
logreg.fit(X_train, y_train)

# Test seti üzerinde tahmin yapalım
y_pred = logreg.predict(X_test)

# Doğruluk değerini hesaplayalım
accuracy = accuracy_score(y_test, y_pred)
print("Doğruluk:", accuracy)

ValueError: ignored